@charset 'utf-8';

.site-footer {
  color: #fff;
  font-size: .675rem;
  text-align: center;
  // background-color: #3c5e86; // $drecata_blue
  // background-color: #444; // $drecata_blue
  background-color: #0cc; // $drecata_blue
  padding: 30px 0 50px;
  margin-top: 30px;
  .nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    list-style: none;
    margin-bottom: 50px;
    a {
      display: block;
      color: #fff;
      padding: 0.5rem 1rem;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  .nav-link {
    color: #fff;
    &:hover {
      text-decoration: underline;
    }
  }
}

