@charset 'utf-8';

.mainContainer{
  max-width: $width;
  margin: 0 auto;
  padding: 0 20px;
  @mixin media(md) {
    padding: 0 20px;
  }
  @extend .cf;
  .primaryContainer{
    @mixin media(md) {
      width: 70%;
      float: left;
      padding-right: 30px;
    }
  }
  .primaryContainer-fullsize{
    width: 100%;
	@mixin media(md) {
	  width: 80%;
	  margin: 0 auto;
	}
    float: none;
  }
  &.sitetop{
    // margin-top: 70px;
    @mixin media(md) {
      margin-top: 0;
    }
  }
}

.supportLogo {
  background: $drenavi-blue;
  text-align: center;
  color: #FFF;
  padding-bottom: 10px;
  font-size: 13px;
  @mixin media(md) {
    display: none;
  }
  &__logolist {
    display: block;
    text-align: center;
    margin: 10px auto 0 auto;
    &-item {
      display: inline-block;
      max-width: 30%;
      a {
        border: 1px solid #fff;
        padding: 5px;
        line-height: 0;
      }
    }
  }
}
